node_modules
.env
dist
!packages/create-evershop-app/sample/extensions/sample/dist
!packages/create-evershop-app/sample/themes/sample/dist
!extensions/agegate
!extensions/azure_file_storage
!extensions/google_login
!extensions/s3_file_storage
!extensions/resend
!extensions/sendgrid
!extensions/product_review
/themes
.idea/*
.vscode
npm-debug.log
/package-log.json
/media
.evershop
.github
.DS_Store
.log
coverage
cypress
.turbo
/packages/evershop/config
.prettierignore
.prettierrc
mysqlToPostgres.js
.github/images
config/development.json
deploy.sh
/certbot/conf/renewal/
/certbot/www/.well-known/